

@media screen and (max-width: 1120px) {

	.container{
		
	}

	.about__text:nth-child(2){
		margin:15px;
		width:60%;
	}


	.price__container{
		justify-content: space-between;
		padding:8px;
		
	}

	.one,.two{
		width:48%;
	}

	.one img,.two img{
		width:100%;
	}

}



@media screen and (max-width: 991px) {

	.header{
		padding-top:25px;
	}

	.header__menu{
		display: none;
		
	}

	.header__menu-button{
		display:flex;
		flex-direction: column;
		padding: 80px 12% 80px;
		text-align: center;
	}

	.header__menu-button p {
		font-size: 50px;
		text-align: right;
		margin-left: auto;
		cursor: pointer;
		color:red;
		margin-bottom:40px;
	}

	.header__menu-button a {
		width:auto;
		margin:0 auto;
		font-size: 35px;
		margin-bottom: 40px;
		letter-spacing: 0.2em;
	}

	.header__menu-button a:hover{
		color:orange;
	}

	.active__menu{
		visibility: visible;
	}

	.menu__container{
		display: block;
		background-color:rgba(00,00,00,0.9);
		width: 100%;
		position: absolute;
		z-index: 100;
		top:0;
		left:0;
		height:100%;
	}


	.menu__button{
	display: block;
	}



	.about__container{
		
	}

	.about__image{
		align-self: center;
	}

	.about__image img{
		width:300px;
	}

	.about__text p{
		font-size:23px;
	}

	.price__container{
		flex-direction: column;
	}

	.one{
		padding-top: 40px;
		width: 80%;
		margin:0 auto 25px;
	}

	.two{
		padding-top: 40px;
		width: 80%;
		margin:0 auto;
	}

	.price__image{
		text-align: center;
		margin-bottom: 20px;
	}

	.price__image img{
		width: 90%;
	}

	.gallery__list img{
		width: 100%;
		margin-left:-50%;
	}

	#next__button{
		right:8%;
		font-size:130px;
	}

	#prev__button{
		left:8%;
		font-size:130px;
	}

	.extra__list ul li{
		margin-bottom:35px;
	}

	#map{
		width:400px;
		height:260px;
	}

	.footer__contacts, .footer__contacts p {
		align-self: center;
		font-size: 25px;
	}

	.footer__contacts span{
		font-weight: 700;
		font-size: 30px;
	}

	.footer__nav a{
		font-size:20px;
	}


}



@media screen and (max-width: 767px) {
	
	.title{
		font-size: 50px;
	}


	.header__container-workTime{
		display: none;
	}
	
	.header__container-phone{
		padding-left: 10%;
	}

	.header__container-phone p{
		width:180px;
		align-self:center;
		font-size:22px;
		line-height: 1.4em;
	}

	.header__title{
		font-size:38px;
	}

	.header__title h2{
		font-size: 28px;
	}

	.header__container-logo img{
		width: 250px;
		margin-bottom: -15px
	}

	.header__container-button a{
		font-size: 20px;
	}


	.about{
		margin-bottom:120px;
	}

	.about__container{
		flex-direction: column;
		
	}

	.about__container:nth-child(2){
		flex-direction: column;
	}

	
	.about__text:nth-child(2){
		width: 95%;
	}

	.one{
		width:90%;
	}

	.two{
		width:90%;
	}

	.gallery__list{
		height:500px;
	}


	#next__button, #prev__button{
		font-size:90px;
	}

	
	.gallery__number-container p{
		font-size:18px;
		}

	.extra__list ul li a	{
		font-size:30px;
		line-height: 1.2em;
	}


	.footer__container{
		flex-direction: column;
		text-align: center;
	}

	.footer__nav{
		display:none;
	}

	#map{
		width:80%;
		height:200px;
	}

	.footer__contacts{
		order:1;
		width: 60%;
	}

}



@media screen and (max-width: 575px) {
	
	.title{
		font-size: 37px;
		margin-bottom: 60px;
	}

	.header__container-phone{
		padding-left: 0;
	}

	.about__text h3{
		font-size: 28px;
	}

	.about__text p{
		line-height:1.1;
		font-size: 23px
	}

	.price__subtitle, .price__subtitle span{
		font-size:20px;
	}

	.price__info p,.price__info p span {
		font-size: 27px;
	}

	.gallery__list{
		height:350px;
	}

	.extra__list ul li a	{
		font-size:20px;
		line-height: 1.2em;
	}

	.extra__list p{
		font-size:15px;
	}

	.extra__list{
		max-width: 100%;
	}
}