* {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 24px;
	text-decoration: none;
	color: #fff;
}

body {
	background-color: gainsboro;
	text-shadow:#000 0 2px;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 40px 0;
}

.header {
	background: url(/images/header_bg.jpg);
	background-size: cover;
	padding-bottom: 70px;
}

.header__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 20px 0px 20px;
	border-bottom: rgba(0, 0, 0, 0.2) 2px solid;
	margin-bottom: 60px;

}

.header .header__menu a {
	font-size: 32px;
}

.header .header__menu a:hover{
	color:#000;
}

.header__container {
	text-align: center;
}

.header__container-information {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 50px;
}

.header__container-workTime {
	text-align: left;
	display: inline-block;
	font-size: 28px;
	padding-left: 15px;
}

.header__container-phone {
	display: inline-block;
}

.header__container-phone p{
	font-size: 28px;
	padding-right: 15px;
}

.header__title{
	display: inline-block;
	padding:10px 20px 40px;
	font-size: 55px;
	background-color:rgba(000, 000, 000, 0.1); 
	margin-bottom: 30px;
}

.header__title h1{
	text-shadow:#000 0 5px;
	padding-bottom: 10px;
}

.header__title h2{
	font-size: 40px;
	text-shadow:#000 0 4px;
}


.header__container-logo {
	margin-bottom: 70px;
}

.header__container-button {
	display: inline-block;
	background-color:rgba(000, 000, 000, 0.6);
	padding: 12px;
}

.header__container-button a{
	font-size: 32px;
}

