* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: #000;
}

body {
  background-color: gainsboro;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px 0;
}

.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px 20px;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  margin-bottom: 40px;
}

.header .header__menu a {
  font-size: 30px;
}

.header__container {
  text-align: center;
  background: url(/images/header_bg.jpg);
}

.header__container .header__container-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.header__container .header__container-information .header__container-workTime {
  text-align: left;
  display: inline-block;
}

.header__container .header__container-information .header__container-workTime .header__container-logo .header__container-phone {
  display: inline-block;
}
